body{margin:0;
    background:white;
}

header{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:20px 24px;
    border-bottom:1px solid white;
}

.container{
    background-color: #b4d0e6;
}

h1{
    text-align: center;
    font-size: 50px;
    font-family: sans-serif;
    margin-right: 35%;
}

h2{
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    margin-right: 35%;
    margin-top: 15%;
}

h3{
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
}

.team{
    font-size: 30px;
    font-family: sans-serif;
    margin-right: 42%;
}

span{
    padding-left: 20px;
    font-family: sans-serif;
}

.logo{
    height:30px;
    object-fit:contain;
    border-radius:4px;
    display:flex;
    gap:12px;
    align-items:center;
    font-weight:700;
}

p{
    padding: 35px;
}

i{
    font-size: 30px;
    margin-left: 3%;
}

.container i{
    margin-bottom: 20px;
}

.container img{
    position: absolute;
    margin-top: -24%; 
    margin-left: 18%;
}

#gratis{
    margin-left: 3%;
}

.logo img{
    height:26px;
}

.btn{
    background: #0061fe;
    border:1px solid #d3e6ff;
    padding:8px 12px;
    color: white;
    text-decoration: none;
}

nav a{
    margin-left:18px;
    color: black;
    text-decoration:none;
    font-size:14px;
}

a{
    font-family: sans-serif;
}

#client{
    color: blue;
    font-size:14px;
    margin-left: 12%;
}

#operations{
    margin-right: 25%;
}

#switch{
    height: 20px;
    width: 20px;
    margin-left: 11%;
}

#partner-img{
    margin-top: -20%; 
    margin-left: 11%;
}

#partner{
    font-size: 25px;
    margin-left: 55%;
}

main{
    max-width:1200px;
    margin:0 auto;
}

#money{
    font-family: sans-serif;
    font-size: 15px;
    margin-left: -15px;
}

#partner-description{
    font-size: 20px;
    margin-left: 60%;
    margin-top: -3.5%;
}

footer{
    background-color: black;
}

.lenguage i{
    color: #4a524f;
    font-size: 15px;
    margin-top: 25px;
}

.lenguage span{
    color: #4a524f;
}

hr{
     border: none;
    height: 1px;
    background-color: #bcbcbc;
    margin-right: 90%;
    margin-left: 48px;
}

button{
    font-size: 20px;
    margin-left: 63%;
    margin-top: -10px;
}

.nav-link{
    color: white;
    display: inline-block;
    padding: 10px 15px;
    font-size: 14px;
}

.nav-title{
    color: white;
    display: inline-block;
    padding: 10px 15px;
    font-size: 25px;
}